Repository BerkeleyTrue/nov8: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, prettier --write --parser yaml, gofmt -w

build(husky): make commit msg executable
  .husky/commit-msg
Due: none

fix(client): add meta and routing
  .eslintrc.yml
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write, prettier --write --parser yaml

feat(client): add layout
  .eslintrc.yml
  client/src/App.tsx
  client/src/Layout/MainLayout.tsx
Due: eslint --fix --max-warnings=0, prettier --write, prettier --write --parser yaml

feat(client): add navbar
  client/src/Layout/MainLayout.tsx
  client/src/Layout/NavBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client/lib): add router5 lib
  client/src/App.tsx
  client/src/Layout/NavBar.tsx
  client/src/lib/remeda/castArray.ts
  client/src/lib/remeda/join.ts
  client/src/lib/remeda/split.ts
  client/src/lib/router5/Context.ts
  client/src/lib/router5/Link.tsx
  client/src/lib/router5/Provider.tsx
  client/src/lib/router5/index.ts
  client/src/lib/router5/types.ts
  client/src/lib/router5/useRoute.ts
  client/src/lib/router5/useRouter.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/router5/link): make reactive
  client/src/lib/router5/Link.tsx
  client/src/lib/router5/Provider.tsx
  client/src/lib/router5/createIsActive.ts
  client/src/lib/router5/createRoute.ts
  client/src/lib/router5/useRoute.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): move out router creation and app title
  client/src/App.tsx
  client/src/components/AppTitle.tsx
  client/src/infra/router5.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/navbar): make active class important
  client/src/Layout/NavBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): add stub pages
  client/src/App.tsx
  client/src/index.tsx
  client/src/pages/Home/Home.tsx
  client/src/pages/Home/index.ts
  client/src/pages/Login/Login.tsx
  client/src/pages/Login/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(lib/router5): use specific keys to update store 🤷
  client/src/lib/router5/Provider.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): init auth page
  client/src/App.tsx
  client/src/Layout/NavBar.tsx
  client/src/index.tsx
  client/src/pages/Auth/Login.tsx
  client/src/pages/Auth/index.ts
  client/src/pages/Login/Login.tsx
  client/src/pages/Login/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(client/auth): add login components
  client/src/Layout/MainLayout.tsx
  client/src/pages/Auth/Login.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): setup home page
  client/src/components/Button.tsx
  client/src/pages/Home/Home.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): add game page
  client/src/App.tsx
  client/src/index.tsx
  client/src/pages/Game/Game.tsx
  client/src/pages/Game/index.ts
  client/src/pages/Home/Home.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(package): add start script
  package.json
Due: none

feat(server): add base infra
  server/cmd/server/main.go
  server/config/config.go
  server/internal/app/app.go
  server/internal/drivers/base.go
  server/internal/infra/gin.go
  server/internal/infra/server.go
Due: gofmt -w

feat(server): add some domain structs
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/core/domain/game.go
  server/internal/core/domain/game_test.go
  server/internal/core/ports/http.go
  server/internal/game/app/app.go
  server/internal/game/domain/game/game.go
  server/internal/game/domain/game/game_test.go
  server/internal/game/domain/game/ports.go
  server/internal/game/ports/http.go
Due: gofmt -w

feat(client/game): first pass at solid pixi
  client/package-lock.json
  client/package.json
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/Stage.tsx
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

build(eslint): can't resolve types properly
  .eslintrc.yml
Due: prettier --write --parser yaml

feat(client/lib/pixi): attempt to make jsx components
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/components/Sprite.ts
  client/src/lib/pixi/components/index.ts
  client/src/lib/pixi/createElement.tsx
  client/src/lib/pixi/renderer.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(client/lib/pixi): stick to userland for rendering components
  client/src/lib/pixi/Provider.tsx
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/Stage.tsx
  client/src/lib/pixi/componentTypes.ts
  client/src/lib/pixi/createElement.tsx
  client/src/lib/pixi/renderer.ts
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

build(eslint): add node env
  .eslintrc.yml
Due: prettier --write --parser yaml

build(docker): add api host to docker/vite
  client/vite.config.ts
  docker-compose.yml
Due: prettier --write --parser yaml

feat(): initial wasm build and load in browser
  client/index.html
  client/public/js/wasm_exec.js
  server/.gitignore
  server/cmd/wasm/main.go
  server/internal/infra/gin.go
  server/server.modd.conf
Due: gofmt -w

fix(client): remove wasm
  client/index.html
  client/public/js/wasm_exec.js
  client/src/index.tsx
  client/vite.config.ts
  server/cmd/wasm/main.go
  server/server.modd.conf
Due: eslint --fix --max-warnings=0, prettier --write, gofmt -w

feat(client): initial game data
  client/package-lock.json
  client/package.json
  client/src/core/game/data.json
  client/src/core/game/game.ts
  client/src/core/game/index.ts
  client/tsconfig.json
  server/internal/core/domain/game.go
Due: eslint --fix --max-warnings=0, prettier --write, gofmt -w

fix(client/pages/auth): larger w/ on larger screens
  client/src/pages/Auth/Login.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/sprite): check for application
  client/src/lib/pixi/Sprite.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/stage): allow passing in options to stage
  client/src/lib/pixi/Provider.tsx
  client/src/lib/pixi/Stage.tsx
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client/game): add motion and ticks to bunny
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/components/Sprite.ts
  client/src/lib/pixi/components/index.ts
  client/src/lib/pixi/useTick.ts
  client/src/pages/Game/Bunny.tsx
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client/pixi/props): add props setter
  client/src/index.tsx
  client/src/lib/pixi/Provider.tsx
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/Stage.tsx
  client/src/lib/pixi/useTick.ts
  client/src/lib/pixi/utils/props.ts
  client/src/pages/Game/Bunny.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client): add first attempt add container
  client/src/lib/pixi/Container.tsx
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/game): move away from declarative components
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(client/pixi): move to imperative use
  client/src/lib/pixi/Container.tsx
  client/src/lib/pixi/Provider.tsx
  client/src/lib/pixi/Sprite.tsx
  client/src/lib/pixi/Stage.tsx
  client/src/lib/pixi/componentTypes.ts
  client/src/pages/Game/Bunny.tsx
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(game): pixi work
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(client): rip out pixijs
  client/src/lib/pixi/useTick.ts
  client/src/lib/pixi/utils/props.ts
  client/src/pages/Game/Game.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): icon comp
  client/src/core/game/data.json
  client/src/pages/Game/Icon.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(router5): previousRoute now shows up
  client/package-lock.json
  client/package.json
  client/src/core/game/game.ts
  client/src/index.tsx
  client/src/lib/router5/Provider.tsx
  client/src/pages/Game/Icon.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(client): add next-auth and github oauth
  .env-example
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/prisma/schema.prisma
  client/src/components/Button.tsx
  client/src/pages/Auth/Login.tsx
  client/src/pages/Auth/index.ts
  client/src/pages/Layout/NavBar.tsx
  client/src/pages/api/auth/[...nextauth].api.ts
  client/src/pages/auth/login.page.tsx
  client/src/server/db/client.ts
  docker-compose.yml
Due: eslint --fix --max-warnings=0, prettier --write, prettier --write --parser yaml

Path conditions:
  eslint --fix --max-warnings=0: any of: client/{src,scripts}/**/*.{ts,tsx}
  prettier --write: any of: client/{src,scripts}/**/*.{ts,tsx}
  prettier --write --parser yaml: any of: **/*.yml
  gofmt -w: any of: server/**/*.go
